<div class="row do-today">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Today's Tip: <%= @suggestion_what %></h2>
      </div>
      <div class="panel-body row">
        <div class="col-xs-6">
          <h4>Where in Vermont?</h4>
          <%= @suggestion_where %>
        </div>
        <div class="col-xs-6">
          <h4>For your health</h4>
          <p>
          <%= @suggestion_why %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
