<div class="row do-today">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Today's Tip: Eat locally grown lettuce</h2>
      </div>
      <div class="panel-body row">
        <div class="col-xs-6">
          <h4>Where in Vermont?</h4>
          go to farmers market
        </div>
        <div class="col-xs-6">
          <h4>For your health</h4>
          <p>
          In 2009, researchers at the Pennington Biomedical Research Center in Louisiana published a study suggesting that the amount of time a person sits is directly associated with mortality from all causes.1 The study examined 17,013 Canadians over a period of twelve years. The researchers measured each participant’s time spent sitting over those years and adjusted for factors like smoking, alcohol consumption, and physical activity. In the end, they found that the participants who sat the most were fifty percent more likely to die prematurely.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
