<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Today's Notification from Healthy Habits VT</title>
	<style type="text/css">
		body {
			font-family:Helvetica,Arial,sans-serif;
			font-size:16px;
			margin:0 auto;
			padding:20px;
		}
	</style>
</head>
<body>
	<div class="email-container" style="border:1px solid #ddd; border-radius:4px;">
	<div class="email-header" style="background-color:#e7e7e7; padding:10px 5px;">
		<h1 style="margin:0;">Healthy Habits VT: Your Daily Report</h1>
	</div>
	
	<div class="email-body" style="padding:5px;">
    <p>Hi <%= @user.name %>,</p>
	
    <p>Yesterday you ate healthy and explored. Congratulations — <%= link_to "you've added to two streaks!", user_dashboard_path(@user) %></a> Great job!</p>

		<h2>Current streaks</h2>
			<ul>
				<li>Exercising: 20</li>
				<li>Eating: 15</li>
				<li>Exploring: 19</li>
			</ul>

		<p>What healthy habit will you commit to today? How about <a href="#">eating locally grown lettuce</a>?</p>
	
		<p>Sincerely,<br />
		Healthy Habits VT</p>
	</div>
	</div>
</body>
</html>
