<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">Healthy Habit VT</a>
        </div>
        <div class="navbar-collapse collapse">
          <% unless @user.nil? %>
            <ul class="nav navbar-nav pull-right">
              <li class="active"><a href="<%= user_dashboard_path(@user) %>"><%= @user.name %></a></li>
            </ul>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
