<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">Healthy Habit VT</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a data-toggle="dropdown" href="#"><%= @user.nil? ? "Users" : @user.name %></a>
              <ul class="dropdown-menu pull-right">
                <% User.all.each do |user| %>
                  <li><%= link_to user.name, user_dashboard_path(user) %></li>
                <% end %>
              </ul>
            </li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
